doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(name='description' content="")
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= MySite
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,900,900italic,400italic,300italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/styles.css")
  body
    header
      include includes/login.jade
      include includes/menu.jade
      include includes/banner.jade
      include includes/divisions.jade
      include includes/reccomendation.jade
      include includes/questions.jade
      include includes/signup.jade
      include includes/sitemap.jade
    

    //- <!-- jQuery -->
    script(type='text/javascript' src="scripts/jquery.min.js")
    //- <!-- Scripts -->
    script(type='text/javascript' src="scripts/main.js")
