doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(name='description' content="")
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= MySite
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/styles.css")
  body
    header
      include includes/login.jade
      include includes/menu.jade
    

    //- <!-- jQuery -->
    script(type='text/javascript' src="scripts/jquery.min.js")
    //- <!-- Scripts -->
    script(type='text/javascript' src="scripts/main.js")
