//- <!-- ================================= BANNER ===================================== -->
section(class="banner")
	h1(class="banner__title") Jose Santana
	div(class="banner__items")
		p(class="banner__items--profession")
			#[i(class="iconux")] ux/interaction designer
		div(class="banner__items--location")
			#[i(class="iconlocation")] Venezuela