//- <!-- ================================= DIVISIONS ===================================== -->

section(class="divisions")
	div(class="skills")
		div(class="skills__map")
			img(class="skills__map--avatar" src="images/avatar.jpg" alt="avatar")
		div(class="wrap-skills")
			h4(class="skills__title") Habilidades de Diseñador Web
			ul(class="skills__skill")
				li Diseñador
				li Desarrollador
				li UX
				li JavaScript
				li UI
			ul(class="skills__redes")
				li
					a(href="#")
						#[i(class="iconweb")] Website
				li
					a(href="#")
						#[i(class="icontwitter")] Twitter
				li
					a(href="#")
						#[i(class="iconfacebook")] Facebook
				li
					a(href="#")
						#[i(class="icongoogle")] Google
		div(class="wrap-view")
			div(class="view")
				a(href="#" class="view__resume")
					#[i(class="iconresume")] Resume
				div(class="view__marca")
					a(href="#" class="view__marca--botton")
						#[i(class="iconmark")] Marca
					i(class="view__marca--bar") |
					a(href="#" class="view__marca--go")
						#[i(class="icongo")]
	div(class="video")
		iframe(src="https://player.vimeo.com/video/74113148" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
		div(class="video__advertisement")
			p Anuncios

div(class="menu__personal")
	ul
		li
			a(href="#")
				#[i(class="iconsummary")] Summary
		li
			a(href="#")
				#[i(class="iconeducation")] Educacion
		li
			a(href="#")
				#[i(class="iconexperience")] Experiencia
		li
			a(href="#" class="menu__personal--active")
				#[i(class="iconreccomendation")] Recomendacion
		li
			a(href="#")
				#[i(class="iconcontact")] Contacto