//- <!-- ================================= LOGIN ===================================== -->

div(class="login container")
	div(class="login__connected")
		h4(class="login__connected--title") Conectado
		ul(class="login__connected--redes")
			li
				a(href="#")
					i(class="iconinstagram")
			li
				a(href="#")
					i(class="iconvimeo")
			li
				a(href="#")
					i(class="iconfacebook")
			li
				a(href="#")
					i(class="icontwitter")
			li
				a(href="#")
					i(class="icongoogle")

	div(class="login__avatar")
		img(src="images/avatar.jpg" alt="")
		h4(class="login__avatar--title") Administrador
			i(class="iconarrow")