section(class="reccomendation")
	h3(class="reccomendation__title") Recomendacion
	div(class="reccomendation__item")
		img(class="reccomendation__item--imagen" src="images/item.png")
		p(class="reccomendation__item--description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempora accusantium ex itaque est mollitia voluptate doloribus.
			br
			br
			span Spencer Finnel

	div(class="reccomendation__item")
		img(class="reccomendation__item--imagen" src="images/item.png")
		p(class="reccomendation__item--description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempora accusantiumsantium ex itaque es ex.
			br
			br
			span Sean Halp
	div(class="reccomendation__item")
		img(class="reccomendation__item--imagen" src="images/item_2.png")
		p(class="reccomendation__item--description")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempora accusantium  santium ex itaque es ex.
			br
			br
			span Aine Valencia
	a(class="reccomendation__add")
		#[i(class="iconadd")] Añadir Recomendacion