section(class="signup container")
	h2(class="signup__title") Suscribete a noticias
	p(class="signup__description")  Consectetur adipisicing elit. Quod, temporibus, a! Fuga molestias nisi vitae quos debitis 080002220
	form(class="signup__container--sucribe")
		input(class="signup__email" placeholder="Inglesa tu email")
		button(class="signup__suscribe") Suscribir