//- <!-- ================================= Sitemap ===================================== -->

div(class="sitemap container")
	div(class="sitemap__logo") Employify
		span Employify 2016
	div(class="sitemap__about") About
		li Blog
		li Contact
		li Find a Candidate
		li Find a Job
	div(class="sitemap__services") Services
		li My alerts
		li Pricing y Plan
		li Post a Job
		li Post a Resume
	div(class="sitemap__terms") Terms
		li Pricing y Plan
		li Sign Up
		li Term and Conditions
		li Testimonials
	div(class="sitemap__offices") Employify Offices
		li Employify Inc. 555 Madison Avenue, Manhattan, New York 10828
		li Employify Inc Canada. 555 Younge Toronto, Ontario M4K 6f4
