body {
	background: #fff;
	font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding-left: 6.25em;
  padding-right: 6.25em;
}

@media (max-width: 1024px) {
	.container {
  	padding-left: 2em;
  	padding-right: 2em;
	}
}