//- <!-- ================================= LOGIN ===================================== -->

div(class="login container")
	div(class="login__connected")
		h4(class="login__connected--title") Conectado
		//--------------- Redes ------------------
		ul(class="login__connected--redes")
			li
				a(href="#"): span(class="js-instagram")
			li
				a(href="#"): span(class="js-vimeo")
			li
				a(href="#"): span(class="js-facebook")
			li
				a(href="#"): span(class="js-twitter")
			li
				a(href="#"): span(class="js-google")
	//--------------- Avatar ------------------
	div(class="login__avatar")
		img(src="images/avatar.png" alt="")
		h4(class="login__avatar--title") Administrador
			span(class="js-arrow-down")