//- <!-- ================================= MENU ===================================== -->

div(class="menu container")
	div(class="menu__logo")
		h3(class="menu__logo--title") Employify
	nav
		ul(class="menu__navegacion")
			li
				a(href="#") jobs
			li
				a(href="#") post a jobs
			li
				a(href="#") resumes
			li
				a(href="#") post a resume
			li
				a(href="#") jobify pages
	div(class="menu__sign-up")
			li
				a(href="#") sign up
			li
				a(href="#" class="menu__sign-up--botton") login