@font-face {
    font-family: 'Santana-font';
    src:    url('../fonts/Employify-Iconos.eot?7uvcs0');
    src:    url('../fonts/Employify-Iconos.eot?7uvcs0#iefix') format('embedded-opentype'),
        url('../fonts/Employify-Iconos.ttf?7uvcs0') format('truetype'),
        url('../fonts/Employify-Iconos.woff?7uvcs0') format('woff'),
        url('../fonts/Employify-Iconos.svg?7uvcs0#Employify-Iconos') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="js-"], [class*=" js-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Santana-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.js-add:before {
    content: "\e900";
}
.js-arrow-down:before {
    content: "\e901";
}
.js-contact:before {
    content: "\e902";
}
.js-experience:before {
    content: "\e903";
}
.js-facebook:before {
    content: "\e904";
}
.js-google:before {
    content: "\e905";
}
.js-instagram:before {
    content: "\e906";
}
.js-location:before {
    content: "\e907";
}
.js-mark:before {
    content: "\e908";
}
.js-reccomendation:before {
    content: "\e909";
}
.js-resume:before {
    content: "\e90a";
}
.js-sumary:before {
    content: "\e90b";
}
.js-twitter:before {
    content: "\e90c";
}
.js-ux:before {
    content: "\e90d";
}
.js-vimeo:before {
    content: "\e90e";
}
.js-web:before {
    content: "\e90f";
}

