
//* Site Colors */
$color1: #374760;
$color2: #f76160;
$color3: #eff4fa;


//* Colors */
$blue: #2196F3;
$pink: #E91E63;
$light-blue: #03A9F4;
$apple-blue: #00BCD4;
$grey: #9E9E9E;
$dark-grey: #607D8B;